/.project
/.pydevproject
/__pycache__/__init__.cpython-35.pyc
/__pycache__/addon_updater.cpython-35.pyc
/__pycache__/addon_updater_ops.cpython-35.pyc
/__pycache__/articulator.cpython-35.pyc
/__pycache__/articulator_handlers.cpython-35.pyc
/__pycache__/bgl_utils.cpython-35.pyc
/__pycache__/bmesh_curvature.cpython-35.pyc
/__pycache__/bmesh_fns.cpython-35.pyc
/__pycache__/bracket_placement.cpython-35.pyc
/__pycache__/bridge.cpython-35.pyc
/__pycache__/bridge_methods.cpython-35.pyc
/__pycache__/common_drawing.cpython-35.pyc
/__pycache__/common_drawing_view.cpython-35.pyc
/__pycache__/common_utilities.cpython-35.pyc
/__pycache__/crown.cpython-35.pyc
/__pycache__/crown_methods.cpython-35.pyc
/__pycache__/curve.cpython-35.pyc
/__pycache__/curve_partition.cpython-35.pyc
/__pycache__/d3classes.cpython-35.pyc
/__pycache__/denture_base.cpython-35.pyc
/__pycache__/flexible_tooth.cpython-35.pyc
/__pycache__/full_arch_methods.cpython-35.pyc
/__pycache__/healing_abutment.cpython-35.pyc
/__pycache__/help.cpython-35.pyc
/__pycache__/implant.cpython-35.pyc
/__pycache__/implant_utils.cpython-35.pyc
/__pycache__/import_export.cpython-35.pyc
/__pycache__/incremental_save.cpython-35.pyc
/__pycache__/loops_tools.cpython-35.pyc
/__pycache__/margin.cpython-35.pyc
/__pycache__/mesh_cut.cpython-35.pyc
/__pycache__/meta_modelling.cpython-35.pyc
/__pycache__/model_labels.cpython-35.pyc
/__pycache__/model_work.cpython-35.pyc
/__pycache__/occlusion.cpython-35.pyc
/__pycache__/odcutils.cpython-35.pyc
/__pycache__/ortho.cpython-35.pyc
/__pycache__/panel.cpython-35.pyc
/__pycache__/points_picker.cpython-35.pyc
/__pycache__/splint.cpython-35.pyc
/__pycache__/splint_booleans.cpython-35.pyc
/__pycache__/splint_cache.cpython-35.pyc
/__pycache__/splint_face_bow.cpython-35.pyc
/__pycache__/splint_landmark_fns.cpython-35.pyc
/__pycache__/splint_occlusal_surfaces.cpython-35.pyc
/__pycache__/survey_utils.cpython-35.pyc
/__pycache__/textbox.cpython-35.pyc
/__pycache__/tracking.cpython-35.pyc
/_optimize.json
/cork/__pycache__/__init__.cpython-35.pyc
/cork/__pycache__/cork_fns.cpython-35.pyc
/cork/__pycache__/exceptions.cpython-35.pyc
/cork/__pycache__/io_mesh_off.cpython-35.pyc
/cork/__pycache__/lib.cpython-35.pyc
/d3guard_updater/updater_status.json
/eyedropper.py
/__pycache__/__init__.cpython-36.pyc
/__pycache__/addon_updater.cpython-36.pyc
/__pycache__/addon_updater_ops.cpython-36.pyc
/__pycache__/articulator.cpython-36.pyc
/__pycache__/articulator_handlers.cpython-36.pyc
/__pycache__/bgl_utils.cpython-36.pyc
/__pycache__/bmesh_curvature.cpython-36.pyc
/__pycache__/bmesh_fns.cpython-36.pyc
/__pycache__/bracket_placement.cpython-36.pyc
/__pycache__/bridge.cpython-36.pyc
/__pycache__/bridge_methods.cpython-36.pyc
/__pycache__/button_placement.cpython-35.pyc
/__pycache__/common_drawing.cpython-36.pyc
/__pycache__/common_drawing_view.cpython-36.pyc
/__pycache__/common_utilities.cpython-36.pyc
/__pycache__/composite_buttons.cpython-35.pyc
/__pycache__/crown.cpython-36.pyc
/__pycache__/crown_methods.cpython-36.pyc
/__pycache__/curve.cpython-36.pyc
/__pycache__/curve_partition.cpython-36.pyc
/__pycache__/d3classes.cpython-36.pyc
/__pycache__/d3splint_view_presets.cpython-35.pyc
/__pycache__/denture_base.cpython-36.pyc
/__pycache__/design_validation.cpython-35.pyc
/__pycache__/flexible_tooth.cpython-36.pyc
/__pycache__/full_arch_methods.cpython-36.pyc
/__pycache__/healing_abutment.cpython-36.pyc
/__pycache__/help.cpython-36.pyc
/__pycache__/implant.cpython-36.pyc
/__pycache__/implant_utils.cpython-36.pyc
/__pycache__/import_export.cpython-36.pyc
/__pycache__/incremental_save.cpython-36.pyc
/__pycache__/insertion_axis.cpython-35.pyc
/__pycache__/loops_tools.cpython-36.pyc
/__pycache__/margin.cpython-36.pyc
/__pycache__/mesh_cut.cpython-36.pyc
/__pycache__/meta_modelling.cpython-36.pyc
/__pycache__/model_labels.cpython-36.pyc
/__pycache__/model_work.cpython-36.pyc
/__pycache__/occlusion.cpython-36.pyc
/__pycache__/odcutils.cpython-36.pyc
/__pycache__/ortho.cpython-36.pyc
/__pycache__/panel.cpython-36.pyc
/__pycache__/plane_cut.cpython-35.pyc
/__pycache__/plane_cut.cpython-36.pyc
/__pycache__/points_picker.cpython-36.pyc
/__pycache__/reports.cpython-35.pyc
/__pycache__/sleep_elements.cpython-35.pyc
/__pycache__/sleep_visualization.cpython-35.pyc
/__pycache__/splint.cpython-36.pyc
/__pycache__/splint_booleans.cpython-36.pyc
/__pycache__/splint_cache.cpython-36.pyc
/__pycache__/splint_face_bow.cpython-36.pyc
/__pycache__/splint_landmark_fns.cpython-36.pyc
/__pycache__/splint_occlusal_surfaces.cpython-36.pyc
/__pycache__/survey_utils.cpython-36.pyc
/__pycache__/textbox.cpython-36.pyc
/__pycache__/tracking.cpython-36.pyc
/__pycache__/vertex_color_utils.cpython-35.pyc
/__pycache__/vertical_base.cpython-35.pyc
/cork/__pycache__/__init__.cpython-36.pyc
/cork/__pycache__/cork_fns.cpython-36.pyc
/cork/__pycache__/exceptions.cpython-36.pyc
/cork/__pycache__/io_mesh_off.cpython-36.pyc
/cork/__pycache__/lib.cpython-36.pyc
/cut_mesh/__pycache__/__init__.cpython-35.pyc
/cut_mesh/__pycache__/__init__.cpython-36.pyc
/cut_mesh/__pycache__/bmesh_fns.cpython-35.pyc
/cut_mesh/__pycache__/bmesh_fns.cpython-36.pyc
/cut_mesh/__pycache__/common_drawing.cpython-35.pyc
/cut_mesh/__pycache__/common_drawing.cpython-36.pyc
/cut_mesh/__pycache__/common_utilities.cpython-35.pyc
/cut_mesh/__pycache__/common_utilities.cpython-36.pyc
/cut_mesh/__pycache__/cut_algorithms.cpython-35.pyc
/cut_mesh/__pycache__/cut_algorithms.cpython-36.pyc
/cut_mesh/__pycache__/modaloperator.cpython-35.pyc
/cut_mesh/__pycache__/modaloperator.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/__init__.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/__init__.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/cache.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/cache.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_datastructure.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_datastructure.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_modal.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_modal.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui_draw.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui_draw.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui_modalwait.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui_modalwait.cpython-36.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui_tools.cpython-35.pyc
/cut_mesh/op_hole_filler/__pycache__/hole_filler_ui_tools.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/__init__.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/__init__.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_datastructure.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_datastructure.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_modal.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_modal.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui_draw.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui_draw.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui_modalwait.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui_modalwait.cpython-36.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui_tools.cpython-35.pyc
/cut_mesh/op_splint_outline/__pycache__/splint_outline_ui_tools.cpython-36.pyc
/odcmenus/__pycache__/__init__.cpython-36.pyc
/odcmenus/__pycache__/button_data.cpython-36.pyc
/odcmenus/__pycache__/menu_utils.cpython-36.pyc
