/.project
/.pydevproject
/__pycache__/__init__.cpython-35.pyc
/__pycache__/addon_updater.cpython-35.pyc
/__pycache__/addon_updater_ops.cpython-35.pyc
/__pycache__/articulator.cpython-35.pyc
/__pycache__/articulator_handlers.cpython-35.pyc
/__pycache__/bgl_utils.cpython-35.pyc
/__pycache__/bmesh_curvature.cpython-35.pyc
/__pycache__/bmesh_fns.cpython-35.pyc
/__pycache__/bracket_placement.cpython-35.pyc
/__pycache__/bridge.cpython-35.pyc
/__pycache__/bridge_methods.cpython-35.pyc
/__pycache__/common_drawing.cpython-35.pyc
/__pycache__/common_drawing_view.cpython-35.pyc
/__pycache__/common_utilities.cpython-35.pyc
/__pycache__/crown.cpython-35.pyc
/__pycache__/crown_methods.cpython-35.pyc
/__pycache__/curve.cpython-35.pyc
/__pycache__/curve_partition.cpython-35.pyc
/__pycache__/d3classes.cpython-35.pyc
/__pycache__/denture_base.cpython-35.pyc
/__pycache__/flexible_tooth.cpython-35.pyc
/__pycache__/full_arch_methods.cpython-35.pyc
/__pycache__/healing_abutment.cpython-35.pyc
/__pycache__/help.cpython-35.pyc
/__pycache__/implant.cpython-35.pyc
/__pycache__/implant_utils.cpython-35.pyc
/__pycache__/import_export.cpython-35.pyc
/__pycache__/incremental_save.cpython-35.pyc
/__pycache__/loops_tools.cpython-35.pyc
/__pycache__/margin.cpython-35.pyc
/__pycache__/mesh_cut.cpython-35.pyc
/__pycache__/meta_modelling.cpython-35.pyc
/__pycache__/model_labels.cpython-35.pyc
/__pycache__/model_work.cpython-35.pyc
/__pycache__/occlusion.cpython-35.pyc
/__pycache__/odcutils.cpython-35.pyc
/__pycache__/ortho.cpython-35.pyc
/__pycache__/panel.cpython-35.pyc
/__pycache__/points_picker.cpython-35.pyc
/__pycache__/splint.cpython-35.pyc
/__pycache__/splint_booleans.cpython-35.pyc
/__pycache__/splint_cache.cpython-35.pyc
/__pycache__/splint_face_bow.cpython-35.pyc
/__pycache__/splint_landmark_fns.cpython-35.pyc
/__pycache__/splint_occlusal_surfaces.cpython-35.pyc
/__pycache__/survey_utils.cpython-35.pyc
/__pycache__/textbox.cpython-35.pyc
/__pycache__/tracking.cpython-35.pyc
/_optimize.json
/cork/__pycache__/__init__.cpython-35.pyc
/cork/__pycache__/cork_fns.cpython-35.pyc
/cork/__pycache__/exceptions.cpython-35.pyc
/cork/__pycache__/io_mesh_off.cpython-35.pyc
/cork/__pycache__/lib.cpython-35.pyc
/d3guard_updater/updater_status.json
/eyedropper.py
